html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.both-content {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  position: relative;
  overflow: hidden;
}

.img-flex {
  display: block;
  max-height: 500px;
  width: 100%;
}

.banner-content {
  width: 100%;
  display: inline-block;
  max-width: 45em;
}

p,
a {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  display: inline-block;
  background-color: #333;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  padding: .5em .75em;
}

.btn .btn-big {
  display: inline-block;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin: 0;
}
