html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.both-content {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: top;
  transform: translate(-50%,-50%);
  width: 100%;
  max-width: 45em;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.img-flex {
  display: flex;
  width: 100%;
}

.banner-content {
  width: 100%;
  display: inline-block;
  max-width: 45em;
}

.logo {
  width: 40%;
  display: inline-block;
  max-width: 45em;
}

p {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  background-color: #333;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  padding: .5em .75em;
}

.btn:hover {
  background-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin: 0;
}
